* {
  box-sizing: border-box;
}

:root {
  --family: "Rubik", sans-serif;
  --fs-base: 18px;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-bold: 500;
  --blue-100: hsl(195, 74%, 62%);
  --blue-200: hsl(236, 100%, 87%);
  --blue-400: hsl(235, 45%, 61%);
  --blue-500: hsl(246, 80%, 60%);
  --blue-800: hsl(235, 46%, 20%);
  --blue-900: hsl(226, 43%, 10%);
  --red-100: hsl(15, 100%, 70%);
  --red-200: hsl(348, 100%, 68%);
  --green-100: hsl(145, 58%, 55%);
  --violet-500: hsl(264, 64%, 52%);
  --orange-100: hsl(43, 84%, 65%);
  --radii: 1rem;
  --radii-full: 50%;
}

body {
  margin: 0;
  font-family: var(--family);
  font-size: var(--fs-base);
  color: white;
  background-color: var(--blue-900);
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0.5rem;

  .dashboard__content {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(18.75rem, 20.625rem));
    width: 100%;
    max-width: 56.25rem;
    margin: 0 auto;
  }

  .dashboard__person {
    width: 100%;
    background-color: var(--blue-800);
    border-radius: var(--radii);
  }

  .dashboard__item {
    width: 100%;
    padding-top: 2.15rem;
    background-color: white;
    border-radius: var(--radii);
    background-repeat: no-repeat;
    background-position: 92% -8%;

    &:hover .tracking-card {
      background-color: var(--blue-500);
    }
  }

  .dashboard__item_work {
    background-color: var(--red-100);
    background-image: url(/images/icon-work.svg);
  }

  .dashboard__item_play {
    background-color: var(--blue-100);
    background-image: url(/images/icon-play.svg);
  }

  .dashboard__item_study {
    background-color: var(--red-200);
    background-image: url(/images/icon-study.svg);
  }

  .dashboard__item_exercise {
    background-color: var(--green-100);
    background-image: url(/images/icon-exercise.svg);
  }

  .dashboard__item_social {
    background-color: var(--violet-500);
    background-image: url(/images/icon-social.svg);
  }

  .dashboard__item_self-care {
    background-color: var(--orange-100);
    background-image: url(/images/icon-self-care.svg);
  }
}

.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--blue-500);
  border-radius: var(--radii);
  padding: 2rem;

  .info-card__photo {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.1875rem solid white;
    border-radius: var(--radii-full);
  }

  .info-card__subtitle {
    font-weight: var(--weight-light);
    font-size: 0.75rem;
    margin: 0;
  }

  .info-card__title {
    font-weight: var(--weight-light);
    margin: 0.5rem 0 0;
  }
}

.view-selector {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 2rem;

  .view-selector__item {
    font-size: 0.75rem;
    color: var(--blue-200);
    cursor: pointer;
    
    &:hover {
      color: white;
    }
  }

  .view-selector__item-active {
    color: white;
  }
}

.tracking-card {
  position: relative;
  bottom: -0.125rem;
  padding: 1.25rem;
  background-color: var(--blue-800);
  border-radius: var(--radii);

  .tracking-card__header {
    margin-bottom: 1rem;
  }

  .tracking-card__title {
    font-weight: var(--weight-normal);
    font-size: var(--fs-base);
    margin: 0;
  }

  .tracking-card__menu {
    cursor: pointer;
  }

  .tracking-card__time {
    font-size: 2rem;
  }

  .tracking-card__prev-period {
    font-size: 0.8125rem;
    color: var(--blue-200);
  }

  :is(.tracking-card__time, .tracking-card__prev-period) {
    font-weight: var(--weight-light);
  }

  :is(.tracking-card__header, .tracking-card__boby) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .dashboard {
    .dashboard__content {
      grid-template-columns: repeat(4, 1fr);
    }

    .dashboard__person {
      display: flex;
      flex-direction: column;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      height: 100%;
    }
  }

  .info-card {
    flex-grow: 1;
    justify-content: flex-start;

    .info-card__photo {
      margin-bottom: 1.5rem;
    }

    .info-card__title {
      font-size: 1.875rem;
    }
  }

  .view-selector {
    flex-direction: column;

    .view-selector__item:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .tracking-card__boby {
    .tracking-card__time {
      font-size: 3rem;
    }

    :is(.tracking-card__header, .tracking-card__time) {
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }

  :is(.info-card, .tracking-card__boby) {
     flex-direction: column;
    align-items: flex-start;
  }
}
